<div class="w-screen h-screen flex justify-content-center align-items-center">
    <div class="flex flex-column ">
        <div class="flex align-items-center">
            <span class="text-6xl font-semibold hover-cursor">404</span>
            <p-divider layout="vertical"></p-divider>
            <span class="text-lg text-center">This page doesn't exist</span>
        </div>
        <div class="align-self-center mt-3">
            <p-button label="Return to panel" styleClass="p-button-lg" icon="pi pi-home" (onClick)="redirectToPanel()"></p-button>
        </div>
    </div>


</div>
