@import "primeicons/primeicons.css";

@import "./custom";

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins.ttf');
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'poppins';
}

